In [43]:
import pandas as pd
import sqlalchemy as sa

In [44]:
conn = sa.create_engine("postgresql://user:password@localhost:5432/db")

In [46]:
temp_table_q = """
    CREATE TEMP TABLE temp_multiaddresses
    AS
    SELECT * from multi_addresses
"""
res = conn.execute(temp_table_q)

In [47]:
alter_table_addcols_q = """
ALTER TABLE temp_multiaddresses ADD COLUMN is_ip4_tcp int DEFAULT 0;
ALTER TABLE temp_multiaddresses ADD COLUMN is_ip4_quic int DEFAULT 0;
ALTER TABLE temp_multiaddresses ADD COLUMN is_ip6_tcp int DEFAULT 0;
ALTER TABLE temp_multiaddresses ADD COLUMN is_ip6_quic int DEFAULT 0;
"""
res = conn.execute(alter_table_addcols_q)

In [48]:
update_ip4_tcp_q = """
    UPDATE temp_multiaddresses SET
    is_ip4_tcp = CASE
        WHEN family(addr)=4 AND maddr LIKE '%%/tcp/%%' THEN 
            1
        ELSE 
            0
    END;
"""
res = conn.execute(update_ip4_tcp_q)

In [49]:
update_ip6_tcp_q = """
    UPDATE temp_multiaddresses SET
    is_ip6_tcp = CASE
        WHEN family(addr)=6 AND maddr LIKE '%%/tcp/%%' THEN 
            1
        ELSE 
            0
    END;
"""
res = conn.execute(update_ip6_tcp_q)

In [50]:
update_ip4_quic_q = """
UPDATE temp_multiaddresses SET
    is_ip4_quic = CASE
        WHEN family(addr)=4 AND maddr LIKE '%%/quic%%' THEN
            1
        ELSE
            0
    END;
"""
res = conn.execute(update_ip4_quic_q)

In [51]:
update_ip6_quic_q = """
UPDATE temp_multiaddresses SET
    is_ip6_quic = CASE
        WHEN family(addr)=6 AND maddr LIKE '%%/quic%%' THEN
            1
        ELSE
            0
    END;
"""
res = conn.execute(update_ip6_quic_q)

In [55]:
final_results_q = """
SELECT 
    hpr.outcome, 
    hpr.protocol_filters, 
    hpr.local_is_ip4_tcp,
    hpr.local_is_ip6_tcp,
    hpr.local_is_ip4_quic,
    hpr.local_is_ip6_quic,
    hpa.is_ip4_tcp as remote_is_ip4_tcp,
    hpa.is_ip6_tcp as remote_is_ip6_tcp,
    hpa.is_ip4_quic as remote_is_ip4_quic,
    hpa.is_ip6_quic as remote_is_ip6_quic,
    COUNT(DISTINCT hpr.id) as count
    FROM (
        (SELECT
            hpr.id, 
            hpr.outcome,
            hpr.protocol_filters,
            max(ma.is_ip4_tcp) as local_is_ip4_tcp, 
            max(ma.is_ip6_tcp) as local_is_ip6_tcp, 
            max(ma.is_ip4_quic) as local_is_ip4_quic,
            max(ma.is_ip6_quic) as local_is_ip6_quic
            FROM
                hole_punch_results hpr
                INNER JOIN multi_addresses_sets mas ON mas.id=hpr.listen_multi_addresses_set_id
                CROSS JOIN unnest(mas.multi_addresses_ids) lmids(mid)
                INNER JOIN temp_multiaddresses ma ON ma.id=lmids.mid
            WHERE 
                NOT ma.is_relay 
                AND ma.is_public
                AND NOT EXISTS (SELECT FROM port_mappings pm WHERE pm.hole_punch_result_id = hpr.id)
            GROUP BY hpr.id, hpr.outcome, hpr.protocol_filters
        ) hpr
        INNER JOIN (
            SELECT 
                    hpa.hole_punch_result_id, 
                    max(ma.is_ip4_tcp) as is_ip4_tcp, 
                    max(ma.is_ip6_tcp) as is_ip6_tcp, 
                    max(ma.is_ip4_quic) as is_ip4_quic,
                    max(ma.is_ip6_quic) as is_ip6_quic
            FROM hole_punch_attempt hpa
            INNER JOIN hole_punch_attempt_x_multi_addresses hpaxma on hpa.id = hpaxma.hole_punch_attempt
            INNER JOIN temp_multiaddresses ma on hpaxma.multi_address_id = ma.id
            WHERE ma.is_public AND NOT ma.is_relay
            GROUP BY hpa.hole_punch_result_id
        ) hpa ON hpa.hole_punch_result_id=hpr.id
    )
    GROUP BY 
        outcome, 
        protocol_filters, 
        local_is_ip4_tcp,
        local_is_ip6_tcp,
        local_is_ip4_quic,
        local_is_ip6_quic,
        remote_is_ip4_tcp,
        remote_is_ip6_tcp,
        remote_is_ip4_quic,
        remote_is_ip6_quic
"""
df = pd.read_sql(final_results_q, con=conn)
df

,outcome,protocol_filters,local_is_ip4_tcp,local_is_ip6_tcp,local_is_ip4_quic,local_is_ip6_quic,remote_is_ip4_tcp,remote_is_ip6_tcp,remote_is_ip4_quic,remote_is_ip6_quic,count
0,NO_STREAM,[],0,0,0,1,0,0,1,0,2
1,NO_STREAM,[],0,0,0,1,1,0,0,0,3
2,NO_STREAM,[],0,0,0,1,1,0,1,0,5
3,NO_STREAM,[],0,0,1,0,0,0,1,0,11
4,NO_STREAM,[],0,0,1,0,0,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
1463,SUCCESS,"[41, 460]",1,1,1,1,1,0,1,0,34836
1464,SUCCESS,"[41, 460]",1,1,1,1,1,0,1,1,10
1465,SUCCESS,"[41, 460]",1,1,1,1,1,1,0,0,2119
1466,SUCCESS,"[41, 460]",1,1,1,1,1,1,1,0,2011
1467,SUCCESS,"[41, 460]",1,1,1,1,1,1,1,1,2

In [58]:
def pf_to_string(x):
    if not x['protocol_filters']:
        return "No Filter"
    else:
        ip_filter =  4 if x['protocol_filters'][0] == 4 else 6
        transport_filter = "tcp" if x['protocol_filters'][1] == 6 else "quic"
        return f"ip:{ip_filter}|transport:{transport_filter}"
dff['pf'] = dff.apply(lambda x: pf_to_string(x), axis=1)
dff

,outcome,protocol_filters,local_is_ip4_tcp,local_is_ip6_tcp,local_is_ip4_quic,local_is_ip6_quic,remote_is_ip4_tcp,remote_is_ip6_tcp,remote_is_ip4_quic,remote_is_ip6_quic,count,pf
0,NO_STREAM,[],0,0,0,1,0,0,1,0,2,No Filter
1,NO_STREAM,[],0,0,0,1,1,0,0,0,3,No Filter
2,NO_STREAM,[],0,0,0,1,1,0,1,0,5,No Filter
3,NO_STREAM,[],0,0,1,0,0,0,1,0,11,No Filter
4,NO_STREAM,[],0,0,1,0,0,0,1,1,2,No Filter
...,...,...,...,...,...,...,...,...,...,...,...,...
1463,SUCCESS,"[41, 460]",1,1,1,1,1,0,1,0,34836,ip:6|transport:quic
1464,SUCCESS,"[41, 460]",1,1,1,1,1,0,1,1,10,ip:6|transport:quic
1465,SUCCESS,"[41, 460]",1,1,1,1,1,1,0,0,2119,ip:6|transport:quic
1466,SUCCESS,"[41, 460]",1,1,1,1,1,1,1,0,2011,ip:6|transport:quic
1467,SUCCESS,"[41, 460]",1,1,1,1,1,1,1,1,2,ip:6|transport:quic

In [59]:
dff.query('pf == "ip:6|transport:tcp" & local_is_ip6_tcp==1 & remote_is_ip6_tcp==1').groupby(['pf', 'outcome'])['count'].sum()

pf                  outcome
ip:6|transport:tcp  CONNECTION_REVERSED      390
                    FAILED                 21722
                    NO_STREAM                346
                    SUCCESS                 9624
Name: count, dtype: int64

In [60]:
dff.query('pf == "ip:4|transport:tcp" & local_is_ip4_tcp==1 & remote_is_ip4_tcp==1').groupby(['pf', 'outcome'])['count'].sum()

pf                  outcome
ip:4|transport:tcp  CONNECTION_REVERSED      2046
                    FAILED                 108058
                    NO_STREAM                2647
                    SUCCESS                313588
Name: count, dtype: int64

In [61]:
dff.query('pf == "ip:6|transport:quic" & local_is_ip6_quic==1 & remote_is_ip6_quic==1').groupby(['pf', 'outcome'])['count'].sum()

pf                   outcome
ip:6|transport:quic  CONNECTION_REVERSED      415
                     FAILED                 30736
                     NO_STREAM                429
                     SUCCESS                 9385
Name: count, dtype: int64

In [62]:
dff.query('pf == "ip:4|transport:quic" & local_is_ip4_quic==1 & remote_is_ip4_quic==1').groupby(['pf', 'outcome'])['count'].sum()

pf                   outcome
ip:4|transport:quic  CONNECTION_REVERSED      2718
                     FAILED                 116924
                     NO_STREAM                2705
                     SUCCESS                259798
Name: count, dtype: int64