In [1]:
import pandas as pd
import sqlalchemy as sa

/Users/sukun/notebooks/venv/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
conn = sa.create_engine("postgresql://user:pwd@localhost:5432/db")

In [3]:
temp_table_q = """
    CREATE TEMP TABLE temp_multiaddresses
    AS
    SELECT * from multi_addresses
"""
res = conn.execute(temp_table_q)

/var/folders/kk/51zcty2n1093n0kt7k9d17240000gn/T/ipykernel_92001/910345355.py:6: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  res = conn.execute(temp_table_q)

In [4]:
alter_table_addcols_q = """
ALTER TABLE temp_multiaddresses ADD COLUMN is_ip4_tcp int DEFAULT 0;
ALTER TABLE temp_multiaddresses ADD COLUMN is_ip4_quic int DEFAULT 0;
ALTER TABLE temp_multiaddresses ADD COLUMN is_ip6_tcp int DEFAULT 0;
ALTER TABLE temp_multiaddresses ADD COLUMN is_ip6_quic int DEFAULT 0;
"""
res = conn.execute(alter_table_addcols_q)

In [5]:
update_ip4_tcp_q = """
    UPDATE temp_multiaddresses SET
    is_ip4_tcp = CASE
        WHEN family(addr)=4 AND maddr LIKE '%%/tcp/%%' THEN 
            1
        ELSE 
            0
    END;
"""
res = conn.execute(update_ip4_tcp_q)

In [6]:
update_ip6_tcp_q = """
    UPDATE temp_multiaddresses SET
    is_ip6_tcp = CASE
        WHEN family(addr)=6 AND maddr LIKE '%%/tcp/%%' THEN 
            1
        ELSE 
            0
    END;
"""
res = conn.execute(update_ip6_tcp_q)

In [7]:
update_ip4_quic_q = """
UPDATE temp_multiaddresses SET
    is_ip4_quic = CASE
        WHEN family(addr)=4 AND maddr LIKE '%%/quic%%' THEN
            1
        ELSE
            0
    END;
"""
res = conn.execute(update_ip4_quic_q)

In [8]:
update_ip6_quic_q = """
UPDATE temp_multiaddresses SET
    is_ip6_quic = CASE
        WHEN family(addr)=6 AND maddr LIKE '%%/quic%%' THEN
            1
        ELSE
            0
    END;
"""
res = conn.execute(update_ip6_quic_q)

In [9]:
final_results_q = """
SELECT 
    hpr.outcome, 
    hpr.protocol_filters, 
    hpr.local_is_ip4_tcp,
    hpr.local_is_ip6_tcp,
    hpr.local_is_ip4_quic,
    hpr.local_is_ip6_quic,
    hpa.is_ip4_tcp as remote_is_ip4_tcp,
    hpa.is_ip6_tcp as remote_is_ip6_tcp,
    hpa.is_ip4_quic as remote_is_ip4_quic,
    hpa.is_ip6_quic as remote_is_ip6_quic,
    COUNT(DISTINCT hpr.id) as count
    FROM (
        (SELECT
            hpr.id, 
            hpr.outcome,
            hpr.protocol_filters,
            sum(ma.is_ip4_tcp) as local_is_ip4_tcp, 
            sum(ma.is_ip6_tcp) as local_is_ip6_tcp, 
            sum(ma.is_ip4_quic) as local_is_ip4_quic,
            sum(ma.is_ip6_quic) as local_is_ip6_quic
            FROM
                hole_punch_results hpr
                INNER JOIN multi_addresses_sets mas ON mas.id=hpr.listen_multi_addresses_set_id
                CROSS JOIN unnest(mas.multi_addresses_ids) lmids(mid)
                INNER JOIN temp_multiaddresses ma ON ma.id=lmids.mid
            WHERE 
                NOT ma.is_relay 
                AND ma.is_public
                AND NOT EXISTS (SELECT FROM port_mappings pm WHERE pm.hole_punch_result_id = hpr.id)
            GROUP BY hpr.id, hpr.outcome, hpr.protocol_filters
        ) hpr
        INNER JOIN (
            SELECT 
                    hpa.hole_punch_result_id, 
                    sum(ma.is_ip4_tcp) as is_ip4_tcp, 
                    sum(ma.is_ip6_tcp) as is_ip6_tcp, 
                    sum(ma.is_ip4_quic) as is_ip4_quic,
                    sum(ma.is_ip6_quic) as is_ip6_quic
            FROM hole_punch_attempt hpa
            INNER JOIN hole_punch_attempt_x_multi_addresses hpaxma on hpa.id = hpaxma.hole_punch_attempt
            INNER JOIN temp_multiaddresses ma on hpaxma.multi_address_id = ma.id
            WHERE ma.is_public AND NOT ma.is_relay
            GROUP BY hpa.hole_punch_result_id
        ) hpa ON hpa.hole_punch_result_id=hpr.id
    )
    GROUP BY 
        outcome, 
        protocol_filters, 
        local_is_ip4_tcp,
        local_is_ip6_tcp,
        local_is_ip4_quic,
        local_is_ip6_quic,
        remote_is_ip4_tcp,
        remote_is_ip6_tcp,
        remote_is_ip4_quic,
        remote_is_ip6_quic
"""
df = pd.read_sql(final_results_q, con=conn)
df

,outcome,protocol_filters,local_is_ip4_tcp,local_is_ip6_tcp,local_is_ip4_quic,local_is_ip6_quic,remote_is_ip4_tcp,remote_is_ip6_tcp,remote_is_ip4_quic,remote_is_ip6_quic,count
0,NO_STREAM,[],0,0,0,1,0,0,2,0,1
1,NO_STREAM,[],0,0,0,1,0,0,6,0,1
2,NO_STREAM,[],0,0,0,1,1,0,0,0,1
3,NO_STREAM,[],0,0,0,1,1,0,1,0,2
4,NO_STREAM,[],0,0,0,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
20727,SUCCESS,"[41, 460]",3,0,1,0,2,1,2,0,1
20728,SUCCESS,"[41, 460]",3,0,1,0,4,0,0,0,1
20729,SUCCESS,"[41, 460]",3,0,2,0,1,0,1,0,1
20730,SUCCESS,"[41, 460]",3,0,2,0,2,0,0,0,1
20731,SUCCESS,"[41, 460]",3,1,2,0,1,0,1,0,1

In [11]:
dff = df

In [12]:
def pf_to_string(x):
    if not x['protocol_filters']:
        return "No Filter"
    else:
        ip_filter =  4 if x['protocol_filters'][0] == 4 else 6
        transport_filter = "tcp" if x['protocol_filters'][1] == 6 else "quic"
        return f"ip:{ip_filter}|transport:{transport_filter}"
dff['pf'] = dff.apply(lambda x: pf_to_string(x), axis=1)
dff

,outcome,protocol_filters,local_is_ip4_tcp,local_is_ip6_tcp,local_is_ip4_quic,local_is_ip6_quic,remote_is_ip4_tcp,remote_is_ip6_tcp,remote_is_ip4_quic,remote_is_ip6_quic,count,pf
0,NO_STREAM,[],0,0,0,1,0,0,2,0,1,No Filter
1,NO_STREAM,[],0,0,0,1,0,0,6,0,1,No Filter
2,NO_STREAM,[],0,0,0,1,1,0,0,0,1,No Filter
3,NO_STREAM,[],0,0,0,1,1,0,1,0,2,No Filter
4,NO_STREAM,[],0,0,0,1,2,0,0,0,1,No Filter
...,...,...,...,...,...,...,...,...,...,...,...,...
20727,SUCCESS,"[41, 460]",3,0,1,0,2,1,2,0,1,ip:6|transport:quic
20728,SUCCESS,"[41, 460]",3,0,1,0,4,0,0,0,1,ip:6|transport:quic
20729,SUCCESS,"[41, 460]",3,0,2,0,1,0,1,0,1,ip:6|transport:quic
20730,SUCCESS,"[41, 460]",3,0,2,0,2,0,0,0,1,ip:6|transport:quic
20731,SUCCESS,"[41, 460]",3,1,2,0,1,0,1,0,1,ip:6|transport:quic

In [17]:
dff.query('pf == "ip:6|transport:tcp" & local_is_ip6_tcp==1 & remote_is_ip6_tcp==1').groupby(['pf', 'outcome'])['count'].sum()

pf                  outcome
ip:6|transport:tcp  CONNECTION_REVERSED     324
                    FAILED                  216
                    NO_STREAM               200
                    SUCCESS                7739
Name: count, dtype: int64

In [26]:
dff.query('pf == "ip:6|transport:tcp" & local_is_ip6_tcp==1 & remote_is_ip6_tcp>1').groupby(['pf', 'outcome'])['count'].sum()

pf                  outcome
ip:6|transport:tcp  CONNECTION_REVERSED       64
                    FAILED                 21194
                    NO_STREAM                142
                    SUCCESS                 1744
Name: count, dtype: int64

In [28]:
dff.query('pf == "ip:4|transport:tcp" & local_is_ip4_tcp==1 & remote_is_ip4_tcp==1').groupby(['pf', 'outcome'])['count'].sum()

pf                  outcome
ip:4|transport:tcp  CONNECTION_REVERSED      1445
                    FAILED                    792
                    NO_STREAM                 857
                    SUCCESS                266724
Name: count, dtype: int64

In [25]:
dff.query('pf == "ip:6|transport:quic" & local_is_ip6_quic==1 & remote_is_ip6_quic>1').groupby(['pf', 'outcome'])['count'].sum()

pf                   outcome
ip:6|transport:quic  CONNECTION_REVERSED       66
                     FAILED                 30233
                     NO_STREAM                192
                     SUCCESS                 2102
Name: count, dtype: int64

In [62]:
dff.query('pf == "ip:4|transport:quic" & local_is_ip4_quic==1 & remote_is_ip4_quic==1').groupby(['pf', 'outcome'])['count'].sum()

pf                   outcome
ip:4|transport:quic  CONNECTION_REVERSED      2718
                     FAILED                 116924
                     NO_STREAM                2705
                     SUCCESS                259798
Name: count, dtype: int64